*{
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    /* justify-content: space-evenly; */
    height: 100vh;
    font-size: 16px;
}

.image_section,
.text_section {
    flex: 1;
    height: 100%;
} 

.image_section  {
    width: 100%;
    height: 100%;
    position: relative;
}

.image_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_section {
    display: flex;
    flex-direction: column;
    padding: 3.4rem 8.75rem;
}

.text_section h1 {
    font-size: 4.5rem;
    margin-bottom: 2.75rem;
}

.text_section h2 {
    font-size: 1.875rem;
    margin-bottom: 0.75rem;
    font-weight: 500;
}

.text_section p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: #475467;
    line-height: 2.125rem;
}

.text_section p:last-child{
    margin-bottom: 0rem;
}

.profile{
    margin-top: 2.75rem;/* Adjust margin based on viewport width */
}

span{
    font-weight: 700;
}

.work_display{
    display: flex;
    align-items: center;
    margin-top: 44px;
}

.work_display img{
   margin-left: 1rem;
   cursor: pointer;
} 

@media screen and (max-width: 1440px) {
    .text_section {
        display: flex;
        flex-direction: column;
        padding: 35px 60px;
    }

    .text_section p {
        font-size: 1.25rem;
        line-height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .text_section {
        display: flex;
        flex-direction: column;
        padding: 12px 18px;
    }

    .image_section,
    .text_section {
        flex: 1;
        height: 50%;
    } 
    
    .text_section h1 {
        font-size: 2.25rem;
        margin-bottom: 2.75rem;
        line-height: 46px;
    }
    .text_section h2 {
        font-size: 1.25rem;
        line-height: 30px;
    }

    .text_section p {
        font-size: 1rem;
        line-height: 30px;
    }

    .profile{
        margin-top: 0rem;/* Adjust margin based on viewport width */
    }

    .profile_details{
        height: 209px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .btn {
        flex: 2;
        border: 1px solid red;
        width: 80%;
    }

    .work_display{
       justify-content: space-between;
       border: 1px solid red;
    }
    

    /* .work_display img{
      flex: 1;
     }  */
}